/*
 * config.h
 *
 *  Created on: 9. 5. 2016
 *      Author: jindra
 */

#ifndef CONFIG_H_
#define CONFIG_H_


#define WIFI_PASSWORD ""
#define WIFI_SSID ""

#define MQTT_LOCAL_ADDRESS "192.168.0.1"
#define MQTT_LOCAL_PORT 1883
// #define MQTT_LOCAL_SSL false
#define MQTT_LOCAL_USER "user"
#define MQTT_LOCAL_PASSWORD "password"

// take these values from your SmartLiving account
#define SMART_LIVING_CLIENT_ID ""
#define SMART_LIVING_CLIENT_KEY ""
#define SMART_LIVING_SENSOR_ID_PRESSURE ""
#define SMART_LIVING_SENSOR_ID_PRESSURE_SEA_LEVEL ""
#define SMART_LIVING_SENSOR_ID_BMP_TEMPERATURE ""
#define SMART_LIVING_SENSOR_ID_LIGHT_INTENSITY ""
#define SMART_LIVING_SENSOR_ID_DHT_TEMPERTAURE ""
#define SMART_LIVING_SENSOR_ID_DHT_TEMPERTAURE_REAL_FEEL ""
#define SMART_LIVING_SENSOR_ID_DHT_HUMIDITY ""
#define SMART_LIVING_SENSOR_ID_ABSOLUTE_HUMIDITY ""
#define SMART_LIVING_SENSOR_ID_TEMPERATURE_SENCOR_CH2 ""
#define SMART_LIVING_SENSOR_ID_LIGHT_INTENSITY_OUTDOOR ""
#define SMART_LIVING_SENSOR_ID_DHT_TEMPERTAURE_OUTDOOR ""
#define SMART_LIVING_SENSOR_ID_DHT_TEMPERTAURE_REAL_FEEL_OUTDOOR ""
#define SMART_LIVING_SENSOR_ID_DHT_HUMIDITY_OUTDOOR ""
#define SMART_LIVING_SENSOR_ID_ABSOLUTE_HUMIDITY_OUTDOOR ""
#define SMART_LIVING_SENSOR_ID_WEATHER_STATION_STATUS ""

#endif /* CONFIG_H_ */
